﻿@model MovieRating.DataAccess.Models.DB.Movie

@{
    ViewData["Title"] = "Details";
}

<style>
    .starFade {
        background-image: url('/images/StarFade.gif');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
        cursor: pointer;
    }

    .starFadeN {
        background-image: url('/images/StarFade.gif');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
    }

    .starGlow {
        background-image: url('/images/StarGlow.gif');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
        cursor: pointer;
    }

    .starGlowN {
        background-image: url('/images/StarGlow.gif');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
    }
</style>

<div class="container" style="width:600px">
    <h1>@(Model.Name) (@(Model.Year))</h1>

    <hr />

    <div style="float:left">
        <h4>Reviews:</h4>
    </div>
    <div style="float:right">
        <a asp-action="Rate" asp-route-id="@Model.MovieId" class="btn btn-default btn-primary">Rate it!</a>
    </div>
    <div style="clear:both"></div>

    <hr />

    @if (Model.Rating.Count() == 0)
    {
        <div>
            Currently nobody made a review, be the first!
        </div>
    }

    <ul class="list-group">
        @foreach (var rating in Model.Rating)
        {
            <li class="list-group-item" style="vertical-align:middle;line-height:35px">
                <div style="float:left">
                    <h4>@(rating.User.Name) (@(rating.User.Username))</h4>
                </div>
                <div style="float:right">
                    @for (var i = rating.Score; i < 10; i++)
                    {
                        <span class="starFadeN"></span>
                    }
                    @for (var i = 0; i < rating.Score; i++)
                    {
                            <span class="starGlowN"></span>
                    }
                </div>
                <div style="clear:both">
                    @(rating.Description)
                </div>
            </li>
        }
    </ul>
</div>
