﻿@model MovieRating.DataAccess.Models.DB.Rating

@{
    ViewData["Title"] = "Rate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .starFade {
        background-image: url('/images/StarFade.gif');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
        cursor: pointer;
    }

    .starFadeN {
        background-image: url('/images/StarFade.gif');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
    }

    .starGlow {
        background-image: url('/images/StarGlow.gif');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
        cursor: pointer;
    }

    .starGlowN {
        background-image: url('/images/StarGlow.gif');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
    }
</style>

<form asp-action="Rate">
    <div class="form-group">
        @Html.HiddenFor(m => m.MovieId)
        @Html.HiddenFor(m => m.User)
        @Html.HiddenFor(m => m.Movie)
        <h3>Rate</h3>
        <div class="form-group">
            <label class="col-md-4 control-label">
                Your rating <span style="font-weight:normal;">(1 start is bad, 10 star is excellent)</span>
            </label>
            <div class="col-md-7">
                <div onmouseout="CRateSelected()">
                    <span class="starFade" id="Rate1" onclick="CRate(1)" onmouseover="CRateOver(1)" onmouseout="CRateOut(1)"></span>
                    <span class="starFade" id="Rate2" onclick="CRate(2)" onmouseover="CRateOver(2)" onmouseout="CRateOut(2)"></span>
                    <span class="starFade" id="Rate3" onclick="CRate(3)" onmouseover="CRateOver(3)" onmouseout="CRateOut(3)"></span>
                    <span class="starFade" id="Rate4" onclick="CRate(4)" onmouseover="CRateOver(4)" onmouseout="CRateOut(4)"></span>
                    <span class="starFade" id="Rate5" onclick="CRate(5)" onmouseover="CRateOver(5)" onmouseout="CRateOut(5)"></span>
                    <span class="starFade" id="Rate6" onclick="CRate(6)" onmouseover="CRateOver(6)" onmouseout="CRateOut(6)"></span>
                    <span class="starFade" id="Rate7" onclick="CRate(7)" onmouseover="CRateOver(7)" onmouseout="CRateOut(7)"></span>
                    <span class="starFade" id="Rate8" onclick="CRate(8)" onmouseover="CRateOver(8)" onmouseout="CRateOut(8)"></span>
                    <span class="starFade" id="Rate9" onclick="CRate(9)" onmouseover="CRateOver(9)" onmouseout="CRateOut(9)"></span>
                    <span class="starFade" id="Rate10" onclick="CRate(10)" onmouseover="CRateOver(10)" onmouseout="CRateOut(10)"></span>
                </div>
            </div>
        </div>


        <br>
        <h3>Description</h3>
         @Html.TextAreaFor(e => e.Description, 10, 55, new { @class = "form-control" }) <br>
        <input asp-for="Score" class="hidden" name="Score" id="Score" />
        <input type="submit" value="Rate" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <script>

        function CRate(r) {
            $("#Score").val(r);
            for (var i = 1; i <= r; i++) {
                $("#Rate" + i).attr('class', 'starGlow');
            }
            // unselect remaining
            for (var i = r + 1; i <= 10; i++) {
                $("#Rate" + i).attr('class', 'starFade');
            }
        }

        function CRateOver(r) {
            for (var i = 1; i <= r; i++) {
                $("#Rate" + i).attr('class', 'starGlow');
            }
        }

        function CRateOut(r) {
            for (var i = 1; i <= r; i++) {
                $("#Rate" + i).attr('class', 'starFade');
            }
        }

        function CRateSelected() {
            var setRating = $("#Score").val();
            for (var i = 1; i <= setRating; i++) {
                $("#Rate" + i).attr('class', 'starGlow');
            }
        }

        $(document).ready(function () {

            if (@Model.Score == 0)
                CRate(1);
            else
                CRate(@Model.Score);
            });
    </script>
}