﻿@model MovieRating.DataAccess.Models.DB.Group

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" method="post" class="form-signin">
    <input type="hidden" name="requestpath" id="requestpath" value="@ViewBag.RequestPath" />

    <h2 class="form-signin-heading">Please fill out these</h2>

    <label for="username" class="sr-only">Username</label>
    <input type="text" asp-for="Name" class="form-control" placeholder="Group name" required autofocus>

    <label for="password" class="sr-only">Password</label>
    <input type="text" asp-for="Description" class="form-control" placeholder="Description" required>

    <div asp-validation-summary="All" class="text-danger"></div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">
        Create
    </button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
