﻿@model MovieRating.DataAccess.Models.DB.Group

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usergroup)
        </dt>
        <dd>
            <div class="form-group">
                <table>
                    <th>UserName</th>
                    <th>InGroup</th>
                    <th>Level</th>
                    <th>JoinedDate</th>
                    @foreach (var user in ViewData["UserNames"] as List<MovieRating.DataAccess.Models.DB.User>)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => user.Username)</td>
                            <td>
                                @{
                                    var inDb = Model.Usergroup.Where(u => u.UserId == user.UserId).Where(w => w.GroupId == Model.GroupId).Count() == 1 ? "checked=\"true\"" : "";
                                    <input type="checkbox" @inDb id="@Html.DisplayFor(model => user.Username)-InGroup" name="@Html.DisplayFor(model => user.UserId)-InGroup" readonly/>
                                }
                            </td>
                            <td>
                                @{
                                    var inDbLeveln = Model.Usergroup.Where(u => u.UserId == user.UserId).Where(w => w.GroupId == Model.GroupId).FirstOrDefault();
                                    var inDbLevel = inDbLeveln == null ? "" : "value =" + @inDbLeveln.Level;
                                    <input type="number" id="@Html.DisplayFor(model => user.Username)-Level" name="@Html.DisplayFor(model => user.UserId)-Level" @inDbLevel min="1" max="2" readonly/>
                                }
                            </td>
                            <td>
                                @{
                                    var inDbJDaten = Model.Usergroup.Where(u => u.UserId == user.UserId).Where(w => w.GroupId == Model.GroupId).FirstOrDefault();
                                    var inDbJDate = inDbJDaten == null ? "" : "value =" + @Convert.ToDateTime(inDbJDaten.JoinedDate.Value).ToString("yyyy.MM.dd.-hh:mm:ss");
                                    <input type="datetime" id="@Html.DisplayFor(model => user.Username)-Level" name="@Html.DisplayFor(model => user.UserId)-Date" @inDbJDate readonly placeholder="automatically updated" />
                                }
                            </td>
                        </tr>
                    }
                </table>
                <input asp-for="Usergroup" class="form-control" type="hidden" />
                <span asp-validation-for="Usergroup" class="text-danger"></span>
            </div>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GroupId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
