﻿@model MovieRating.DataAccess.Models.DB.Group

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GroupId" />
            <div class="form-group">
                <label asp-for="GroupId" class="control-label"></label>
                <input readonly asp-for="GroupId" class="form-control" />
                <span asp-validation-for="GroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input required asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usergroup" class="control-label"></label>
                <table>
                    <th>UserName</th>
                    <th>InGroup</th>
                    <th>Level</th>
                    <th>JoinedDate</th>
                    @foreach (var user in ViewData["UserNames"] as List<MovieRating.DataAccess.Models.DB.User>)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => user.Username)</td>
                            <td>
                                @{
                                    var inDb = Model.Usergroup.Where(u => u.UserId == user.UserId).Where(w => w.GroupId == Model.GroupId).Count() == 1 ? "checked=\"true\"" : "";
                                    <input type ="checkbox" @inDb id="@Html.DisplayFor(model => user.Username)-InGroup" name="@Html.DisplayFor(model => user.UserId)-InGroup"/>  
                                }
                            </td>
                            <td>
                                @{
                                    var inDbLeveln = Model.Usergroup.Where(u => u.UserId == user.UserId).Where(w => w.GroupId == Model.GroupId).FirstOrDefault();
                                    var inDbLevel = inDbLeveln == null ? "" : "value =" +@inDbLeveln.Level;
                                    <input type="number" id="@Html.DisplayFor(model => user.Username)-Level" name="@Html.DisplayFor(model => user.UserId)-Level" @inDbLevel min="1" max="2" />
                                }
                            </td>
                            <td>
                                @{
                                    var inDbJDaten = Model.Usergroup.Where(u => u.UserId == user.UserId).Where(w => w.GroupId == Model.GroupId).FirstOrDefault();
                                    var inDbJDate = "";
                                    if (inDbJDaten != null && DateTime.MaxValue.Subtract(inDbJDaten.JoinedDate.Value).Days < 1)
                                    {
                                        inDbJDate = "Invited by a group member";
                                    }
                                    else if (inDbJDaten != null)
                                    {
                                        inDbJDate = @Convert.ToDateTime(inDbJDaten.JoinedDate.Value).ToString("yyyy.MM.dd.-hh:mm:ss");
                                    }

                                    var inDbJDateStr = inDbJDaten == null ? "" : "value =" + inDbJDate;
                                    <input type="datetime" id="@Html.DisplayFor(model => user.Username)-Level" name="@Html.DisplayFor(model => user.UserId)-Date" @inDbJDateStr readonly placeholder="automatically updated" />
                                }
                            </td>
                        </tr>
                    }
                </table>
                <input asp-for="Usergroup" class="form-control" type="hidden"/>
                <span asp-validation-for="Usergroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
