﻿@model Tuple<IEnumerable<MovieRating.DataAccess.Models.DB.Group>, IEnumerable<MovieRating.DataAccess.Models.DB.Group>, IEnumerable<MovieRating.DataAccess.Models.DB.Group>>

@{
    ViewData["Title"] = "Index";
    var currentUser = ViewData["CurrentUser"] as MovieRating.DataAccess.Models.DB.User;
}

<div class="container" style="width:600px">
    <div style="width:470px;float:left">
        <h2>Your groups</h2>
    </div>
    <div style="width:100px;float:right;margin-top:20px">
        <a asp-action="Create" class="btn btn-default btn-primary">Create New</a>
    </div>
    <div style="clear:both"></div>

    <hr />
    <h3>Pending invitations</h3>
    <hr />

    @if (Model.Item1.Count() == 0)
    {
        <div>
            None right now.
        </div>
    }

    <ul class="list-group">
        @foreach (var item in Model.Item1)
        {
            <li class="list-group-item" style="vertical-align:middle;line-height:35px">
                <div style="float:left">
                    @(item.Name)
                </div>
                <div style="float:right">
                    <a asp-action="AcceptInvitation" asp-route-id="@item.GroupId" class="btn btn-default btn-warning">Accept invitation</a>
                </div>
                <div style="clear:both"></div>
            </li>
        }
    </ul>

    <hr />
    <h3>Owned groups</h3>
    <hr />

    @if (Model.Item2.Count() == 0)
    {
        <div>
            You do not own any groups. Create one now!
        </div>
    }

    <ul class="list-group">
        @foreach (var item in Model.Item2)
        {
            <li class="list-group-item" style="vertical-align:middle;line-height:35px">
                <div style="float:left">
                    @(item.Name)
                </div>
                <div style="float:right">
                    <a asp-action="Invite" asp-route-id="@item.GroupId" class="btn btn-default btn-primary">Invite friends</a>
                    <a asp-action="ViewRatings" asp-route-id="@item.GroupId" class="btn btn-default btn-warning">List movies</a>
                    <a asp-action="Delete" asp-route-id="@item.GroupId" class="btn btn-default btn-danger">Delete</a>
                </div>
                <div style="clear:both"></div>
            </li>
        }
    </ul>

    <hr />
    <h3>Joined groups</h3>
    <hr />

    @if (Model.Item3.Count() == 0)
    {
        <div>
            You are not a member of any group. Asks your friends to invite you!
        </div>
    }

    <ul class="list-group">
        @foreach (var item in Model.Item3)
        {
            <li class="list-group-item" style="vertical-align:middle;line-height:35px">
                <div style="float:left">
                    @(item.Name)
                </div>
                <div style="float:right">
                    <a asp-action="Invite" asp-route-id="@item.GroupId" class="btn btn-default btn-primary">Invite friends</a>
                    <a asp-action="ViewRatings" asp-route-id="@item.GroupId" class="btn btn-default btn-warning">List movies</a>
                    <a asp-action="Leave" asp-route-id="@item.GroupId" class="btn btn-default btn-danger">Leave</a>
                </div>
                <div style="clear:both"></div>
            </li>
        }
    </ul>
</div>
