﻿@model IEnumerable<MovieRating.DataAccess.Models.DB.User>

@{
    ViewData["Title"] = "Invite";
    var group = @ViewData["Group"] as MovieRating.DataAccess.Models.DB.Group;
}

<div class="container" style="width:600px">
    <div>
        <h2>Invite to @group.Name</h2>
    </div>

    <hr />

    @if (Model.Count() == 0)
    {
        <div>
            Looks like all your friends are in the group!
        </div>
    }

    <ul class="list-group">
        @foreach (var item in Model)
        {
                <li class="list-group-item" style="vertical-align:middle;line-height:35px">
                    <div style="float:left">
                        @(item.Name) (@(item.Username))
                    </div>
                    <div style="float:right">
                        <form asp-action="Invite">
                            <input type="hidden" name="GroupId" value="@(group.GroupId)" />
                            <input type="hidden" name="UserId" value="@(item.UserId)" />
                            <button class="btn btn-primary btn-default" type="submit">
                                Invite
                            </button>
                        </form>
                    </div>
                    <div style="clear:both"></div>
                </li>
        }
    </ul>
</div>
