﻿@model IEnumerable<MovieRating.DataAccess.Models.DB.Movie>

@{
    ViewData["Title"] = "Leave";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var group = @ViewData["Group"] as MovieRating.DataAccess.Models.DB.Group;
}
<h2>Are you sure you want to leave @group.Name ?</h2>

<form asp-action="Leave">
    <input type="submit" value="Leave" class="btn btn-default" /> |
    <a asp-action="Index">Back to Groups</a>
</form>