﻿@model IEnumerable<MovieRating.DataAccess.Models.DB.Movie>

@{
    ViewData["Title"] = "Ratings";
}

<div class="container" style="width:600px">
    <h2>Find what others like in the group</h2>

    <hr />

    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item" style="vertical-align:middle;line-height:35px">
                <div style="float:left">
                    <span class="badge" style="width:40px">
                        @item.Rating.DefaultIfEmpty(new MovieRating.DataAccess.Models.DB.Rating { Score = 0 }).Average(r => r.Score)
                    </span>
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div style="float:right">
                    <a asp-controller="TMDB" asp-action="Details" asp-route-id="@item.MovieApiId" class="btn btn-default btn-primary">Details</a>
                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.MovieId" class="btn btn-default btn-warning">Ratings</a>
                    <a asp-controller="Movies" asp-action="AddToList" asp-route-id="@item.MovieId" class="btn btn-default btn-info">Add to list</a>
                </div>
                <div style="clear:both"></div>
            </li>
        }
    </ul>
</div>