﻿@model MovieRating.DataAccess.Models.DB.User

@{
    ViewData["Title"] = "Edit profile";
}

<div class="container" style="width:600px">
    <form asp-action="Edit">
        <div style="width:470px;float:left">
            <h2>Edit profile</h2>
        </div>
        <div style="width:100px;float:right;margin-top:20px">
            <input type="submit" value="Save profile" class="btn btn-default" />
        </div>
        <div style="clear:both"></div>

        <hr />

        <input type="hidden" asp-for="UserId" />

        <ul class="list-group">
            <li class="list-group-item" style="vertical-align:middle;line-height:35px">
                <div style="float:left">
                    Username
                </div>
                <div style="float:right">
                    <input asp-for="Username" class="form-control" />
                </div>
                <div style="clear:both"></div>
            </li>
            <li class="list-group-item" style="vertical-align:middle;line-height:35px">
                <div style="float:left">
                    Email
                </div>
                <div style="float:right">
                    <input asp-for="Email" class="form-control" />
                </div>
                <div style="clear:both"></div>
            </li>
            <li class="list-group-item" style="vertical-align:middle;line-height:35px">
                <div style="float:left">
                    Name
                </div>
                <div style="float:right">
                    <input asp-for="Name" class="form-control" />
                </div>
                <div style="clear:both"></div>
            </li>
            <li class="list-group-item" style="vertical-align:middle;line-height:35px">
                <div style="float:left">
                    Joined
                </div>
                <div style="float:right">
                    @Html.DisplayFor(model => model.JoinedDate)
                </div>
                <div style="clear:both"></div>
            </li>
        </ul>
    </form>
    <div asp-validation-summary="All" class="text-danger"></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
