﻿@model MovieRating.DataAccess.Models.DB.User

@{
    ViewData["Title"] = "User profile";
}

<div class="container" style="width:600px">

    <div style="width:470px;float:left">
        @if ((ViewData["currentUser"] as MovieRating.DataAccess.Models.DB.User).UserId == Model.UserId)
        {
            <h2>Your profile</h2>
        }
        else
        {
            <h2>@(Model.Username)'s profile</h2>
        }
    </div>
    @if ((ViewData["currentUser"] as MovieRating.DataAccess.Models.DB.User).UserId == Model.UserId)
    {
        <div style="width:100px;float:right;margin-top:20px">
            <a asp-action="Edit" asp-route-id="@Model.UserId" class="btn btn-default btn-primary">Edit profile</a>
        </div>
    }
    <div style="clear:both"></div>

    <hr />

    <ul class="list-group">
        <li class="list-group-item" style="vertical-align:middle;line-height:35px">
            <div style="float:left">
                Username
            </div>
            <div style="float:right">
                @Html.DisplayFor(model => model.Username)
            </div>
            <div style="clear:both"></div>
        </li>
        <li class="list-group-item" style="vertical-align:middle;line-height:35px">
            <div style="float:left">
                Email
            </div>
            <div style="float:right">
                @Html.DisplayFor(model => model.Email)
            </div>
            <div style="clear:both"></div>
        </li>
        <li class="list-group-item" style="vertical-align:middle;line-height:35px">
            <div style="float:left">
                Name
            </div>
            <div style="float:right">
                @Html.DisplayFor(model => model.Name)
            </div>
            <div style="clear:both"></div>
        </li>
        <li class="list-group-item" style="vertical-align:middle;line-height:35px">
            <div style="float:left">
                Joined
            </div>
            <div style="float:right">
                @Html.DisplayFor(model => model.JoinedDate)
            </div>
            <div style="clear:both"></div>
        </li>
    </ul>

    <hr />
    @if ((ViewData["currentUser"] as MovieRating.DataAccess.Models.DB.User).UserId == Model.UserId)
    {
        <h2>Your lists</h2>
    }
    else
    {
        <h2>@(Model.Username)'s lists</h2>
    }

    <hr />

    @if (Model.Userlist.Where(u => u.Public || ((ViewData["currentUser"] as MovieRating.DataAccess.Models.DB.User).UserId == Model.UserId)).Count() == 0)
    {
        <div style="float:left">
            None so far.
        </div>
        <div style="clear:both"></div>
    }

    <ul class="list-group">
        @foreach (var item in Model.Userlist.Where(u => u.Public || ((ViewData["currentUser"] as MovieRating.DataAccess.Models.DB.User).UserId == Model.UserId)))
        {
            <li class="list-group-item" style="vertical-align:middle;line-height:35px">
                <div style="float:left">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div style="float:right">
                    @Html.ActionLink("Details", "Details", "MovieLists", new { listId = item.UserlistId, userId = (ViewData["currentUser"] as MovieRating.DataAccess.Models.DB.User).UserId }, new { @class = "btn btn-warning btn-default" })
                </div>
                <div style="clear:both"></div>
            </li>
        }
    </ul>
</div>
