﻿@model TMDbLib.Objects.Movies.Movie

@{
    ViewData["Title"] = "Details";
}

<style>
    form {
        display: inline-block;
    }
</style>

<div class="container">
    <h1>@(Model.Title) (@Html.ValueFor(model => model.ReleaseDate, "{0:yyyy}"))</h1>
    <div>
        @(Model.Runtime) minutes | @String.Join(", ", Model.Genres.Select(f => f.Name).ToList())
    </div>

    <hr />

    <div style="float:left;width:25%;padding-right:10px;padding-left:10px">
        <img class="img-thumbnail" src="@String.Concat("http://image.tmdb.org/t/p/w640", Model.PosterPath)" alt="@(Model.Title)">
    </div>

    <div style="padding-right:10px;padding-left:10px">
        <h4>Overview:</h4>
        @(Model.Overview)

        <hr />

        <h4>Director(s):</h4>
        @String.Join(", ", Model.Credits.Crew.Where(f => f.Department == "Directing").Select(f => f.Name).ToList())

        <h4>Writer(s):</h4>
        @String.Join(", ", Model.Credits.Crew.Where(f => f.Department == "Writing").Select(f => f.Name).ToList())

        <h4>Star(s):</h4>
        @String.Join(", ", Model.Credits.Cast.OrderBy(f => f.Order).Take(4).Select(f => f.Name).ToList())

        <hr />

        <form asp-action="Rate">
            <div class="form-group">
                @Html.HiddenFor(m => m.Title)
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.ReleaseDate)
                @Html.HiddenFor(m => m.ImdbId)
                <input type="submit" value="Rate it" class="btn btn-default btn-warning" />
            </div>
        </form>
        <form asp-action="AddList">
            <div class="form-group">
                @Html.HiddenFor(m => m.Title)
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.ReleaseDate)
                @Html.HiddenFor(m => m.ImdbId)
                <input type="submit" value="Add to list" class="btn btn-default btn-warning" />
            </div>
        </form>
        <a href="http://www.imdb.com/title/@(Model.ImdbId)/" class="btn btn-default btn-primary">
            Open on IMDB
        </a>
    </div>
</div>
