﻿@model IEnumerable<TMDbLib.Objects.Search.SearchMovie>

@{
    ViewData["Title"] = "Search";
}

<div class="container" style="width:600px">
    <h2>Explore new movies</h2>
    <form asp-action="Search" method="get" class="form-horizontal" style="vertical-align:central">
            <div style="width:470px;float:left">
                <input name="keywords" class="form-control" value="@(ViewData["keywords"])" required/>
            </div>
            <div style="width:85px;float:right">
                <input type="submit" value="Search" class="btn btn-default btn-primary" />
            </div>
        <div style="clear:both"></div>
    </form>
    
    <hr />

    @if (Model == null || Model.Count() == 0)
    {
        <div>
            No match found.
        </div>
    }
    else
    {
    <ul class="list-group">
        @foreach (var item in Model)
        {
                <li class="list-group-item" style="vertical-align:middle;line-height:35px">
                    <div style="float:left">
                        @Html.DisplayFor(modelItem => item.Title)
                    </div>
                    <div style="float:right">
                        <a href="/TMDB/Details/@(item.Id)" class="btn btn-default btn-warning">Details</a>
                    </div>
                    <div style="clear:both"></div>
                </li>
        }
    </ul>
    }
</div>
