﻿@{
    ViewData["Title"] = "Login";
}

<form asp-controller="Security" asp-action="Login" method="post" class="form-signin">
    <input type="hidden" name="requestpath" id="requestpath" value="@ViewBag.RequestPath" />

    <h2 class="form-signin-heading">Please sign in</h2>

    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>

    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>

    <div asp-validation-summary="All" class="text-danger"></div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">
        Sign in
    </button>
    <a class="btn btn-lg btn-warning btn-block" asp-action="Registration" asp-route-returnurl="@ViewData["ReturnUrl"]">
        Register
    </a>
</form>
