﻿@{
    ViewData["Title"] = "Registration";
}

<form asp-controller="Security" asp-action="Registration" method="post" class="form-register">
    <input type="hidden" name="requestpath" id="requestpath" value="@ViewBag.RequestPath" />

    <h2 class="form-signin-heading">Sign up for MovieRating!</h2>

    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus />

    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required />

    <label for="confirmpassword" class="sr-only">Confirm password:</label>
    <input type="password" name="confirmpassword" id="confirmpassword" class="form-control" placeholder="Confirm password" required />

    <label for="email" class="sr-only">Email</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Email" required />

    <label for="name" class="sr-only">Name</label>
    <input type="text" id="name" name="name" class="form-control" placeholder="Name" required />

    <div asp-validation-summary="All" class="text-danger"></div>

    <button class="btn btn-lg btn-warning btn-block" type="submit">
        Register
    </button>
</form>
