﻿@model Tuple<List<MovieRating.DataAccess.Models.DB.Friendship>, List<MovieRating.DataAccess.Models.DB.User>>

@{
    ViewData["Title"] = "Friends";
}

<div class="container" style="width:600px">
    <h2>Friends</h2>
    <hr />

    @if (Model.Item1.Count == 0)
    {
        <div>You dont have any friends. Send someone a friend request below.</div>
    }
    else
    {
        <ul class="list-group">
            @foreach (var item in Model.Item1)
            {
                <li class="list-group-item" style="vertical-align:middle;line-height:35px">
                    @if (item.FriendId == (ViewData["currentUser"] as MovieRating.DataAccess.Models.DB.User).UserId)
                    {
                        @if (item.Status == 1)
                        {
                            <div style="float:left">
                                @Html.DisplayFor(modelItem => item.User.Name) (@Html.ActionLink(item.User.Username, "Details", "Profiles", new { id = item.UserId }, null))
                            </div>
                            <div style="float:right">
                                <a asp-action="Unfriend" asp-route-id="@item.UserId" class="btn btn-default btn-danger">Unfriend</a>
                            </div>
                        }
                        else
                        {
                            <div style="float:left">
                                @Html.DisplayFor(modelItem => item.User.Name) (@Html.DisplayFor(modelItem => item.User.Username))
                            </div>
                            <div style="float:right">
                                <a asp-action="AcceptRequest" asp-route-id="@item.UserId" class="btn btn-default btn-warning">Accept request</a>
                            </div>
                        }
                    }
                    else
                    {
                        @if (item.Status == 1)
                        {
                            <div style="float:left">
                                @Html.DisplayFor(modelItem => item.FriendUser.Name) (@Html.ActionLink(item.FriendUser.Username, "Details", "Profiles", new { id = item.FriendId }, null))
                            </div>
                            <div style="float:right">
                                <a asp-action="Unfriend" asp-route-id="@item.FriendId" class="btn btn-default btn-danger">Unfriend</a>
                            </div>
                        }
                        else
                        {
                            <div style="float:left">
                                @Html.DisplayFor(modelItem => item.FriendUser.Name) (@Html.DisplayFor(modelItem => item.FriendUser.Username))
                            </div>
                            <div style="float:right">
                                <a asp-action="CancelRequest" asp-route-id="@item.FriendId" class="btn btn-default btn-warning">Cancel request</a>
                            </div>
                        }
                    }
                    <div style="clear:both"></div>
                </li>
            }
        </ul>
    }

    <hr />
    <h2>Find new friends</h2>
    <form asp-action="FilterUser" method="get" class="form-horizontal" style="vertical-align:central">
        <div style="width:470px;float:left">
            <input name="filter" class="form-control" />
        </div>
        <div style="width:85px;float:right">
            <input type="submit" value="Filter" class="btn btn-default btn-primary" />
        </div>
        <div style="clear:both"></div>
    </form>
    <hr />

    <ul class="list-group">
        @foreach (var item in Model.Item2.Where(u => !Model.Item1.Any(f => f.FriendId == u.UserId || f.UserId == u.UserId)))
        {
            <li class="list-group-item" style="vertical-align:middle;line-height:35px">
                <div style="float:left">
                    @Html.DisplayFor(modelItem => item.Name) (@Html.DisplayFor(modelItem => item.Username))
                </div>
                <div style="float:right">
                    <a asp-action="SendRequest" asp-route-id="@item.UserId" class="btn btn-default btn-warning">Send friend request</a>
                </div>
                <div style="clear:both"></div>
            </li>
        }
    </ul>
</div>
