﻿@{
    ViewData["Title"] = "Home Page";
}
<h2>Welcome to the MovieRating website!</h2>

<p style="text-align:justify">
We all like to be a critic, that’s what makes watching independent films so rewarding. When we walk out of the cinema there is nothing more delightful than spewing our own thoughts and feelings of the film we have just seen to our nearest and dearest.
</p>
<p style="text-align:justify">
Imagine the following situation: You are sitting home alone or with your (girl)friend and you decide to watch a movie. So you start looking something on the internet but there are so many opportunities and rating that it takes a long time to decide what to watch. Annoying, right?
</p>
<p style="text-align:justify">
Solution:
Decrease your search area with MovieRating!
In here, you can rate movies that you are already watched and compare this list with your friends or colleagues ratings. The result? You will see what movies you should watch based on the others's ratings who has the same interests as you have. Create or join a group and start inviting friends and rate movies!
</p>
<p class="text-center">
<img align="middle" src="~/images/categories.png">
</p>