﻿@model MovieRating.DataAccess.Models.DB.Userlist

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" class="form-signin">
    <h2 class="form-signin-heading">Create new list</h2>
    <div asp-validation-summary="All" class="text-danger"></div>

    <label for="Name" class="sr-only">List name</label>
    <input type="text" id="Name" name="Name" class="form-control" placeholder="List name" required autofocus>

    <label for="Visibility" class="sr-only">Visibility</label>
    <select class="form-control" id="Visibility" name="Visibility" required>
        <option>Public</option>
        <option>Private</option>
    </select>

    <button class="btn btn-lg btn-primary btn-block" type="submit">
        Create
    </button>
    <a class="btn btn-lg btn-warning btn-block" asp-action="Index">
        Back
    </a>
</form>
