﻿@model IEnumerable<MovieRating.DataAccess.Models.DB.MovieList>

@{
    ViewData["Title"] = "Index";
}

<h2></h2>

<div class="container" style="width:600px">
    <h2>@ViewData["ListName"]</h2>

    <hr />

    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item" style="vertical-align:middle;line-height:35px">
                <div style="float:left">
                    @Html.DisplayFor(modelItem => item.Movie.Name)
                </div>
                <div style="float:right">
                    <a asp-controller="TMDB" asp-action="Details" asp-route-id="@item.Movie.MovieApiId" class="btn btn-default btn-primary">Details</a>
                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.Movie.MovieId" class="btn btn-default btn-warning">Ratings</a>
                    @if (!ViewData["currentUser"].Equals("other"))
                    {
                        <a asp-action="Remove" asp-route-listId="@ViewData["ListId"]" asp-route-movieId="@item.ListElementId" class="btn btn-default btn-danger">Remove</a>
                    }
                </div>
                <div style="clear:both"></div>
            </li>
        }
    </ul>
</div>
