﻿@model MovieRating.DataAccess.Models.DB.Userlist

@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Edit" class="form-signin">
    <h2 class="form-signin-heading">Edit list</h2>
    <div asp-validation-summary="All" class="text-danger"></div>

    <label for="Name" class="sr-only">List name</label>
    <input type="text" asp-for="Name" class="form-control" placeholder="List name" required autofocus>

    <label for="Visibility" class="sr-only">Visibility</label>
    <select class="form-control" id="Visibility" name="Visibility" required>
        @if (Model.Public)
        {
            <option selected="selected">Public</option>
            <option>Private</option>
        }
        else
        {
            <option>Public</option>
            <option selected="selected">Private</option>
        }
    </select>

    <input type="hidden" asp-for="UserlistId" />

    <button class="btn btn-lg btn-primary btn-block" type="submit">
        Save
    </button>
    <a class="btn btn-lg btn-warning btn-block" asp-action="Index">
        Back
    </a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}