﻿@model IEnumerable<MovieRating.DataAccess.Models.DB.Userlist>

@{
    ViewData["Title"] = "My Lists";
}

<div class="container" style="width:600px">
    <div style="width:470px;float:left">
        <h2>My Lists</h2>
    </div>
    <div style="width:100px;float:right;margin-top:20px">
        <a asp-action="Create" class="btn btn-default btn-primary">Create New</a>
    </div>
    <div style="clear:both"></div>

    <hr />
    <h3>Public lists</h3>
    <hr />

    @if (Model.Where(m => m.Public).Count() == 0)
    {
        <div>
            None so far.
        </div>
    }

    <ul class="list-group">
        @foreach (var item in Model.Where(m => m.Public))
        {
            <li class="list-group-item" style="vertical-align:middle;line-height:35px">
                <div style="float:left">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div style="float:right">
                    <a asp-action="Edit" asp-route-id="@item.UserlistId" class="btn btn-default btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-listId="@item.UserlistId" class="btn btn-default btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.UserlistId" class="btn btn-default btn-danger">Delete</a>
                </div>
                <div style="clear:both"></div>
            </li>
        }
    </ul>

    <hr />
    <h3>Private lists</h3>
    <hr />

    @if (Model.Where(m => !m.Public).Count() == 0)
    {
        <div>
            None so far.
        </div>
    }

    <ul class="list-group">
        @foreach (var item in Model.Where(m => !m.Public))
        {
            <li class="list-group-item" style="vertical-align:middle;line-height:35px">
                <div style="float:left">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div style="float:right">
                    <a asp-action="Edit" asp-route-id="@item.UserlistId" class="btn btn-default btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-listId="@item.UserlistId" class="btn btn-default btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.UserlistId" class="btn btn-default btn-danger">Delete</a>
                </div>
                <div style="clear:both"></div>
            </li>
        }
    </ul>
</div>