﻿@model IEnumerable<MovieRating.DataAccess.Models.DB.Userlist>

@{
    ViewData["Title"] = "My Lists";
}

<div class="container" style="width:600px">
    <h2>My Lists</h2>
    <hr />

    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item" style="vertical-align:middle;line-height:35px">
                <div style="float:left">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div style="float:right">
                    <a asp-action="SaveSelectedLists" asp-route-listId="@item.UserlistId" asp-route-movieId="@ViewData["MovieId"]" class="btn btn-default btn-warning">Select</a>
                </div>
                <div style="clear:both"></div>
            </li>
        }
    </ul>
</div>

