﻿<!DOCTYPE html>
@using Microsoft.AspNetCore.Http;
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieRating</title>

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/lib/kendo-ui/styles/kendo.common-bootstrap.core.min.css" />
    <link rel="stylesheet" href="/lib/kendo-ui/styles/kendo.bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">MovieRating</a>
            </div>
            <div class="navbar-collapse collapse">
                @if (Context.Request.HttpContext.User.Identity.Name != null)
                {
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Movies" asp-action="Index">Movies</a></li>
                        <li><a asp-area="" asp-controller="Groups" asp-action="Index">Groups</a></li>
                        <li><a asp-area="" asp-controller="TMDB" asp-action="Index">Explore</a></li>
                        <li><a asp-area="" asp-controller="MovieLists" asp-action="Index">My Lists</a></li>
                        <li><a asp-area="" asp-controller="Friends" asp-action="Index">Friends</a></li>
                        <li><a asp-area="" asp-controller="Profiles" asp-action="Index">My profile</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="navbar-text">Signed in as @(Context.Request.HttpContext.User.Identity.Name)!</li>
                        <li><a asp-area="" asp-controller="Security" asp-action="Logout">Logout</a></li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a asp-area="" asp-controller="Security" asp-action="Login">Sign in or Register</a></li>
                    </ul>
                }
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - MovieRating.Web</p>
        </footer>
    </div>

    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
    <script src="/lib/remarkable/dist/remarkable.js"></script>
    <script src="/lib/kendo-ui/js/kendo.ui.core.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
